# 정리

문파원 네트워크는... 정말 16000명의 문파를 하는 사람들을 좀 더 세분화할 수 있는 피쳐임..

# Import module, data, function

In [1]:
#### import modules
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
from networkx.algorithms import bipartite
import re

# import itertools 
from itertools import chain
from itertools import groupby

In [2]:
# load data set
train_guild = pd.read_csv('../new_input/train_guild_lite.csv')
test_guild = pd.read_csv('../new_input/test_guild_lite.csv')
train_label = pd.read_csv('../new_input/train_label_lite.csv')

# party
train_party = pd.read_csv('../new_input/train_party_lite.csv')
test_party = pd.read_csv('../new_input/test_party_lite.csv')

# trade
train_trade = pd.read_csv('../new_input/train_trade_lite.csv')
test_trade = pd.read_csv('../new_input/test_trade_lite.csv')

# 전체 길드 집합 만들기 
total_guild = pd.concat((train_guild,test_guild),axis=0,ignore_index=True)
total_guild.drop_duplicates(inplace=True)
total_guild.index = range(len(total_guild))

# label map
label_map = {'retained':0,'week':1,'month':2,'2month':3}

---

# Basic EDA

__전체에서 파티 경험 있는 사람은 몇명?__

절반 약간 넘는 사람들이 파티 컨텐츠를 즐김

# 문파원 네트워크 분석

* 문파내 파티/전체 파티

In [10]:
train_party.head()

,party_start_week,party_start_day,party_start_time,party_end_week,party_end_day,party_end_time,party_members_acc_id
0,1,1,09:14:58.558,1,1,09:41:30.200,"ot160647,ot47783,tr53166,ot200260,ot148400,tr9..."
1,3,3,11:05:05.176,3,3,13:07:42.515,"ot93483,ot74426,te4462,tr75992,tr89175,tr89342"
2,3,6,02:18:43.172,3,6,02:28:58.177,"te30091,ot168103,tr16718,te34235,tr63569,ot179821"
3,4,1,09:22:01.936,4,1,09:47:40.192,"ot233060,tr15609,tr85158,tr36984,tr66235,tr622..."
4,4,5,06:29:21.182,4,5,06:50:55.004,"ot120538,tr14982,ot22725,tr16126,ot24948,tr66815"

In [12]:
test_party.head()

,party_start_week,party_start_day,party_start_time,party_end_week,party_end_day,party_end_time,party_members_acc_id
0,1,1,11:42:01.123,1,1,12:11:28.466,"ot70402,te35234"
1,3,3,11:05:05.176,3,3,13:07:42.515,"ot93483,ot74426,te4462,tr75992,tr89175,tr89342"
2,3,6,02:18:43.172,3,6,02:28:58.177,"te30091,ot168103,tr16718,te34235,tr63569,ot179821"
3,6,1,09:12:30.447,6,1,09:31:51.871,"te916,tr1545,ot9691,tr27647,tr57458,tr17030,ot..."
4,6,5,10:58:28.822,6,5,11:01:05.309,"tr97045,tr85370,ot128861,te34084,te29083"

In [ ]:
for x in train_party.party_members_acc_id.split(',')

In [7]:
test = [x for x in train_guild.iloc[5268,:].guild_member_acc_id.split(',') if re.match('tr',x) != None]

In [8]:
test = pd.DataFrame({'new_id': test})

In [10]:
train_guild.loc[train_guild.guild_member_acc_id.apply(lambda x: len(x.split(',')))==77,:]

     guild_id                                guild_member_acc_id
5268    g3255  ot60547,tr60732,te11881,te18956,ot64962,tr6111...

In [9]:
train_guild.guild_member_acc_id.apply(lambda x: len(x.split(',')))==77

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9933    False
9934    False
9935    False
9936    False
9937    False
9938    False
9939    False
9940    False
9941    False
9942    False
9943    False
9944    False
9945    False
9946    False
9947    False
9948    False
9949    False
9950    False
9951    False
9952    False
9953    False
9954    False
9955    False
9956    False
9957    False
9958    False
9959    False
9960    False
9961    False
9962    False
Name: guild_member_acc_id, Length: 9963, dtype: bool