In [1]:
# 패키지
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from  itertools import combinations
from sklearn import linear_model

sns.set(palette='pastel')
sns.set(font_scale=2)

In [2]:
labels=pd.read_csv('FE and error_set/error_set_0.741.csv')

In [3]:
train_data=pd.read_csv('Features/train_every_features_0906.csv')
test_data=pd.read_csv('Features/test_every_features_0906.csv')

In [4]:
train_data_c=train_data.copy()
test_data_c=test_data.copy()

In [5]:
train_act=pd.read_csv('transformed/train_real_values.csv')
test_act=pd.read_csv('transformed/test_real_datas_int.csv')

In [427]:
train_act_c=train_act.copy()
test_act_c=test_act.copy()

# Abstract
### 홍문만 얻은 주차, exp만 얻은 주차, hongmun/exp를 얻은 주차, exp/hongmun 모두 얻지 않은 주차들을 count 하고 이 네가지 종류의 주차들이 있는지 없는지의 여부에 따라 1차 clustering을 한 후 비슷한 cluster 끼리 grouping을 해줌

# Feature 1. only hongmun,only exp, hongmun/exp, no hongmun/exp 를 기록한 주차

In [428]:
train_h=train_act_c[((train_act_c.quest_hongmun.astype(int)+(train_act_c.npc_hongmun.astype(int))>0)&((train_act_c.quest_exp.astype(int)+train_act_c.npc_exp.astype(int))==0))]
train_e=train_act_c[((train_act_c.quest_hongmun.astype(int)+(train_act_c.npc_hongmun.astype(int))==0)&((train_act_c.quest_exp.astype(int)+train_act_c.npc_exp.astype(int))>0))]
train_he=train_act_c[((train_act_c.quest_hongmun.astype(int)+(train_act_c.npc_hongmun.astype(int))>0)&((train_act_c.quest_exp.astype(int)+train_act_c.npc_exp.astype(int))>0))]
train_no=train_act_c[((train_act_c.quest_hongmun.astype(int)+(train_act_c.npc_hongmun.astype(int))==0)&((train_act_c.quest_exp.astype(int)+train_act_c.npc_exp.astype(int))==0))]

In [429]:
print(len(h),',',len(e),',',len(he),',',len(no))

212512 , 28209 , 50630 , 149227

In [430]:
len(train_act_c)

440578

In [431]:
len(h)+len(e)+len(he)+len(no)

440578

In [432]:
train_hc=train_h.groupby('new_id',as_index=False).count().iloc[:,:2]
train_ec=train_e.groupby('new_id',as_index=False).count().iloc[:,:2]
train_hec=train_he.groupby('new_id',as_index=False).count().iloc[:,:2]
train_noc=train_no.groupby('new_id',as_index=False).count().iloc[:,:2]
train_hc.columns=['new_id','only_hongmun_week_cnt']
train_ec.columns=['new_id','only_exp_week_cnt']
train_hec.columns=['new_id','hongmun_exp_week_cnt']
train_noc.columns=['new_id','no_hongmun_exp_week_cnt']

In [433]:
train_all_df=pd.merge(train_hc,train_ec,on='new_id',how='outer')
train_all_df=pd.merge(train_all_df,train_hec,on='new_id',how='outer')
train_all_df=pd.merge(train_all_df,train_noc,on='new_id',how='outer').fillna(0)

In [434]:
train_all_df=train_all_df.reindex(index=train_all_df.new_id.str.replace('tr','').astype(int).sort_values().index)

In [435]:
pd.merge(train_all_df,labels,on='new_id')

,new_id,only_hongmun_week_cnt,only_exp_week_cnt,hongmun_exp_week_cnt,no_hongmun_exp_week_cnt,label,y_pred
0,tr0,0.0,0.0,0.0,1.0,month,2month
1,tr1,0.0,1.0,0.0,0.0,week,week
2,tr2,1.0,0.0,2.0,0.0,retained,retained
3,tr3,0.0,0.0,1.0,0.0,week,week
4,tr4,4.0,0.0,4.0,0.0,retained,retained
5,tr5,1.0,0.0,0.0,7.0,2month,2month
6,tr6,0.0,0.0,2.0,0.0,month,month
7,tr7,0.0,0.0,0.0,8.0,retained,retained
8,tr8,0.0,1.0,0.0,0.0,2month,2month
9,tr9,0.0,1.0,0.0,3.0,2month,2month
10,tr10,0.0,1.0,0.0,1.0,month,month
11,tr11,8.0,0.0,0.0,0.0,retained,retained
12,tr12,1.0,0.0,0.0,5.0,2month,retained
13,tr13,0.0,1.0,0.0,4.0,2month,2month
14,tr14,0.0,0.0,0.0,5.0,2month,2month
15,tr15,0.0,0.0,0.0,1.0,month,month
16,tr16,0.0,0.0,1.0,0.0,week,week
17,tr17,0.0,1.0,0.0,3.0,month,month
18,tr18,0.0,0.0,0.0,1.0,month,2month
19,tr19,8.0,0.0,0.0,0.0,retained,retained
20,tr20,0.0,0.0,0.0,1.0,week,month
21,tr21,8.0,0.0,0.0,0.0,month,month
22,tr22,0.0,0.0,1.0,0.0,week,week
23,tr23,7.0,0.0,1.0,0.0,retained,retained
24,tr24,0.0,0.0,1.0,0.0,week,week
25,tr25,1.0,0.0,1.0,0.0,week,month
26,tr26,0.0,1.0,0.0,0.0,2month,2month
27,tr27,0.0,0.0,1.0,0.0,week,week
28,tr28,0.0,1.0,0.0,0.0,month,2month
29,tr29,0.0,1.0,0.0,0.0,month,2month
...,...,...,...,...,...,...,...
99970,tr99970,0.0,0.0,1.0,0.0,week,week
99971,tr99971,8.0,0.0,0.0,0.0,retained,retained
99972,tr99972,0.0,0.0,1.0,0.0,week,week
99973,tr99973,0.0,0.0,1.0,0.0,week,week
99974,tr99974,0.0,0.0,0.0,7.0,2month,2month
99975,tr99975,0.0,0.0,0.0,1.0,2month,2month
99976,tr99976,1.0,0.0,0.0,3.0,retained,retained
99977,tr99977,1.0,0.0,0.0,5.0,month,month
99978,tr99978,8.0,0.0,0.0,0.0,2month,2month
99979,tr99979,0.0,1.0,0.0,4.0,2month,2month
99980,tr99980,8.0,0.0,0.0,0.0,week,week
99981,tr99981,0.0,1.0,0.0,0.0,week,week
99982,tr99982,0.0,0.0,0.0,1.0,month,month
99983,tr99983,1.0,0.0,1.0,0.0,2month,week
99984,tr99984,0.0,1.0,0.0,2.0,retained,retained
99985,tr99985,1.0,0.0,0.0,6.0,2month,2month
99986,tr99986,8.0,0.0,0.0,0.0,2month,2month
99987,tr99987,8.0,0.0,0.0,0.0,month,month
99988,tr99988,1.0,0.0,0.0,7.0,2month,retained
99989,tr99989,0.0,1.0,0.0,0.0,month,2month
99990,tr99990,0.0,0.0,0.0,1.0,month,2month
99991,tr99991,0.0,0.0,1.0,0.0,month,week
99992,tr99992,8.0,0.0,0.0,0.0,month,month
99993,tr99993,8.0,0.0,0.0,0.0,retained,retained
99994,tr99994,8.0,0.0,0.0,0.0,retained,retained
99995,tr99995,0.0,1.0,0.0,1.0,retained,retained
99996,tr99996,1.0,0.0,0.0,6.0,retained,2month
99997,tr99997,0.0,0.0,0.0,1.0,2month,month
99998,tr99998,8.0,0.0,0.0,0.0,retained,retained
99999,tr99999,0.0,1.0,0.0,0.0,2month,2month

In [436]:
del train_all_df['new_id']
train_all_df.to_csv('Features/train_exp_hongmun_cnt_with_week.csv',index=False)

# Feature 1. test셋에서도 생성

In [553]:
test_h=test_act_c[((test_act_c.quest_hongmun.astype(int)+(test_act_c.npc_hongmun.astype(int))>0)&((test_act_c.quest_exp.astype(int)+test_act_c.npc_exp.astype(int))==0))]
test_e=test_act_c[((test_act_c.quest_hongmun.astype(int)+(test_act_c.npc_hongmun.astype(int))==0)&((test_act_c.quest_exp.astype(int)+test_act_c.npc_exp.astype(int))>0))]
test_he=test_act_c[((test_act_c.quest_hongmun.astype(int)+(test_act_c.npc_hongmun.astype(int))>0)&((test_act_c.quest_exp.astype(int)+test_act_c.npc_exp.astype(int))>0))]
test_no=test_act_c[((test_act_c.quest_hongmun.astype(int)+(test_act_c.npc_hongmun.astype(int))==0)&((test_act_c.quest_exp.astype(int)+test_act_c.npc_exp.astype(int))==0))]

In [554]:
print(len(test_h),',',len(test_e),',',len(test_he),',',len(test_no))

85350 , 11407 , 21051 , 57922

In [555]:
len(test_act_c)

175730

In [556]:
len(test_h)+len(test_e)+len(test_he)+len(test_no)

175730

In [557]:
test_hc=test_h.groupby('new_id',as_index=False).count().iloc[:,:2]
test_ec=test_e.groupby('new_id',as_index=False).count().iloc[:,:2]
test_hec=test_he.groupby('new_id',as_index=False).count().iloc[:,:2]
test_noc=test_no.groupby('new_id',as_index=False).count().iloc[:,:2]
test_hc.columns=['new_id','only_hongmun_week_cnt']
test_ec.columns=['new_id','only_exp_week_cnt']
test_hec.columns=['new_id','hongmun_exp_week_cnt']
test_noc.columns=['new_id','no_hongmun_exp_week_cnt']

In [558]:
test_all_df=pd.merge(test_hc,test_ec,on='new_id',how='outer')
test_all_df=pd.merge(test_all_df,test_hec,on='new_id',how='outer')
test_all_df=pd.merge(test_all_df,test_noc,on='new_id',how='outer').fillna(0)

In [470]:
test_all_df=test_all_df.reindex(index=test_all_df.new_id.str.replace('te','').astype(int).sort_values().index)

In [473]:
train_data.loc[:,[x for x in train_data_c.columns if 'sum' in x]].isna().sum(1)

0        53
1        44
2        27
3        38
4         3
5        52
6        27
7        47
8        49
9        49
10       49
11       25
12       52
13       49
14       53
15       53
16       34
17       49
18       53
19        3
20       53
21       32
22       35
23       28
24       35
25       28
26       49
27       28
28       49
29       49
         ..
99970    39
99971    24
99972    40
99973    40
99974    53
99975    53
99976    32
99977    52
99978    32
99979    49
99980    32
99981    43
99982    53
99983    37
99984    49
99985    52
99986    32
99987    27
99988    42
99989    49
99990    53
99991    27
99992    32
99993     2
99994     3
99995    49
99996    52
99997    53
99998     6
99999    49
Length: 100000, dtype: int64

In [ ]:
train_h.groupby('new_id',as_index=False).count().iloc[:,:1].to_csv('train_h.csv',index=False)
train_e.groupby('new_id',as_index=False).count().iloc[:,:1].to_csv('train_e.csv',index=False)
train_he.groupby('new_id',as_index=False).count().iloc[:,:1].to_csv('train_he.csv',index=False)
train_no.groupby('new_id',as_index=False).count().iloc[:,:1].to_csv('train_no.csv',index=False)

In [475]:
test_h.groupby('new_id',as_index=False).count().iloc[:,:1].to_csv('test_h.csv',index=False)
test_e.groupby('new_id',as_index=False).count().iloc[:,:1].to_csv('test_e.csv',index=False)
test_he.groupby('new_id',as_index=False).count().iloc[:,:1].to_csv('test_he.csv',index=False)
test_no.groupby('new_id',as_index=False).count().iloc[:,:1].to_csv('test_no.csv',index=False)

In [478]:
train_all_df.index=range(len(train_all_df))
test_all_df.index=range(len(test_all_df))

# Feature 2. exp, hongmun,both,neither를 기록한 주차의 존재여부를 이용하여 1차 clustering

## 2.1.1 접속 종류 별 아이디의 분포 확인

## 다있거나 하나만 없음

In [514]:
#전부 true
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].value_counts()

week        114
retained    104
2month       55
month        48
Name: label, dtype: int64

In [515]:
#둘다 없는 경우만 없음
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].value_counts()

week        1312
retained     247
2month       205
month        166
Name: label, dtype: int64

In [516]:
#exp만있는 경우만 없음
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].value_counts()

week        1136
month        550
retained     527
2month       172
Name: label, dtype: int64

In [517]:
#홍문만있는 경우만 없음
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].value_counts()

week        79
retained    71
month       65
2month      34
Name: label, dtype: int64

In [518]:
#둘다 있는 주만 없음
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].value_counts()

retained    43
2month      39
month       21
week        19
Name: label, dtype: int64

## 두가지 패턴만 있음

In [519]:
#둘다 있거나 둘다 없거나
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].value_counts()

week        305
retained    229
month       190
2month      177
Name: label, dtype: int64

In [520]:
#exp만 있거나 둘다없가나
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].value_counts()

2month      4568
month       3352
retained    1393
week         222
Name: label, dtype: int64

In [521]:
#exp만 있거나 둘다 있거나
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].value_counts()

week        1150
month        214
retained     162
2month       115
Name: label, dtype: int64

In [522]:
#홍문만 있거나 둘다 있거나
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].value_counts()

week        6245
retained    5044
month       2769
2month      1144
Name: label, dtype: int64

In [523]:
#홍문만 있거나 둘다 없거나
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].value_counts()

2month      4427
retained    3562
month       2203
week        1052
Name: label, dtype: int64

In [524]:
#홍문만 있거나 exp만 있거나
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].value_counts()

week        67
retained    21
2month      18
month       12
Name: label, dtype: int64

## 다없거나 하나만 있음

In [525]:
# 네개패턴 다 없는 경우는 없음
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].value_counts()

Series([], Name: label, dtype: int64)

In [526]:
#다 없는 경우
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].value_counts()

2month      7501
month       4946
retained    4322
week        1833
Name: label, dtype: int64

In [527]:
#exp만있는 경우
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].value_counts()

2month      4665
month       3612
week        1864
retained     694
Name: label, dtype: int64

In [528]:
#홍문만있는 경우
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].value_counts()

retained    8271
month       4122
week        2544
2month      1594
Name: label, dtype: int64

In [529]:
#둘다 있는 주만 있음
labels.label[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].value_counts()

week        7058
month       2730
retained     310
2month       286
Name: label, dtype: int64

# 2.1.2. 각 분류에 속한 아이디를 기록

## 다있거나 하나만 없음

In [530]:
#전부 true
d1=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

In [531]:
#둘다 없는 경우만 없음
d2=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

In [532]:
#exp만있는 경우만 없음
d3=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

In [533]:
#홍문만있는 경우만 없음
d4=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

In [534]:
#둘다 있는 주만 없음
d5=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

## 두가지 패턴만 있음

In [535]:
#둘다 있거나 둘다 없거나
d6=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

In [536]:
#exp만 있거나 둘다없가나
d7=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

In [537]:
#exp만 있거나 둘다 있거나
d8=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

In [538]:
#홍문만 있거나 둘다 있거나
d9=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

In [539]:
#홍문만 있거나 둘다 없거나
d10=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

In [540]:
#홍문만 있거나 exp만 있거나
d11=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

## 다없거나 하나만 있음

In [541]:
# 네개패턴 다 없는 경우는 없음
d12=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

In [542]:
#다 없는 경우
d13=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

In [543]:
#exp만있는 경우
d14=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)!=0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

In [544]:
#홍문만있는 경우
d15=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)!=0)&(train_all_df.hongmun_exp_week_cnt.astype(int)==0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

In [545]:
#둘다 있는 주만 있음
d16=labels.new_id[((train_all_df.only_hongmun_week_cnt.astype(int)==0)&(train_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(train_all_df.only_exp_week_cnt.astype(int)==0)&(train_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

In [687]:
dd=[d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16]

In [692]:
#각 그룹이 어디에 속했는지 여부를 저장한 리스트
hongmun_exp_group=[]
for i in range(16):
    hongmun_exp_group.append([x in list(dd[i]) for x in train_data_c.new_id])

In [691]:
sum(train_a_group_index)+sum(train_b_group_index)+sum(train_c_group_index)+sum(train_d_group_index)+sum(train_e_group_index)

83157

# Feature 2. test셋 만들기

In [560]:
test_all_df=test_all_df.reindex(index=test_all_df.new_id.str.replace('te','').astype(int).sort_values().index)

In [707]:
test_all_df.index=range(len(test_all_df))

## 2.2.1. 몇개의 test user들이 각 cluster에 속하는지 확인

### 다있거나 하나만 없음

In [563]:
#전부 true
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].count()

new_id                     121
only_hongmun_week_cnt      121
only_exp_week_cnt          121
hongmun_exp_week_cnt       121
no_hongmun_exp_week_cnt    121
dtype: int64

In [564]:
#둘다 없는 경우만 없음
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].count()

new_id                     774
only_hongmun_week_cnt      774
only_exp_week_cnt          774
hongmun_exp_week_cnt       774
no_hongmun_exp_week_cnt    774
dtype: int64

In [565]:
#exp만있는 경우만 없음
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].count()

new_id                     931
only_hongmun_week_cnt      931
only_exp_week_cnt          931
hongmun_exp_week_cnt       931
no_hongmun_exp_week_cnt    931
dtype: int64

In [566]:
#홍문만있는 경우만 없음
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].count()

new_id                     131
only_hongmun_week_cnt      131
only_exp_week_cnt          131
hongmun_exp_week_cnt       131
no_hongmun_exp_week_cnt    131
dtype: int64

In [567]:
#둘다 있는 주만 없음
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].count()

new_id                     48
only_hongmun_week_cnt      48
only_exp_week_cnt          48
hongmun_exp_week_cnt       48
no_hongmun_exp_week_cnt    48
dtype: int64

## 두가지 패턴만 있음

In [568]:
#둘다 있거나 둘다 없거나
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].count()

new_id                     335
only_hongmun_week_cnt      335
only_exp_week_cnt          335
hongmun_exp_week_cnt       335
no_hongmun_exp_week_cnt    335
dtype: int64

In [569]:
#exp만 있거나 둘다없가나
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].count()

new_id                     3894
only_hongmun_week_cnt      3894
only_exp_week_cnt          3894
hongmun_exp_week_cnt       3894
no_hongmun_exp_week_cnt    3894
dtype: int64

In [570]:
#exp만 있거나 둘다 있거나
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].count()

new_id                     688
only_hongmun_week_cnt      688
only_exp_week_cnt          688
hongmun_exp_week_cnt       688
no_hongmun_exp_week_cnt    688
dtype: int64

In [571]:
#홍문만 있거나 둘다 있거나
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].count()

new_id                     6254
only_hongmun_week_cnt      6254
only_exp_week_cnt          6254
hongmun_exp_week_cnt       6254
no_hongmun_exp_week_cnt    6254
dtype: int64

In [572]:
#홍문만 있거나 둘다 없거나
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].count()

new_id                     4324
only_hongmun_week_cnt      4324
only_exp_week_cnt          4324
hongmun_exp_week_cnt       4324
no_hongmun_exp_week_cnt    4324
dtype: int64

In [573]:
#홍문만 있거나 exp만 있거나
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].count()

new_id                     27
only_hongmun_week_cnt      27
only_exp_week_cnt          27
hongmun_exp_week_cnt       27
no_hongmun_exp_week_cnt    27
dtype: int64

## 다없거나 하나만 있음

In [574]:
# 네개패턴 다 없는 경우는 없음
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].count()

new_id                     0
only_hongmun_week_cnt      0
only_exp_week_cnt          0
hongmun_exp_week_cnt       0
no_hongmun_exp_week_cnt    0
dtype: int64

In [575]:
#다 없는 경우
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))].count()

new_id                     7374
only_hongmun_week_cnt      7374
only_exp_week_cnt          7374
hongmun_exp_week_cnt       7374
no_hongmun_exp_week_cnt    7374
dtype: int64

In [576]:
#exp만있는 경우
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].count()

new_id                     4316
only_hongmun_week_cnt      4316
only_exp_week_cnt          4316
hongmun_exp_week_cnt       4316
no_hongmun_exp_week_cnt    4316
dtype: int64

In [577]:
#홍문만있는 경우
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].count()

new_id                     6547
only_hongmun_week_cnt      6547
only_exp_week_cnt          6547
hongmun_exp_week_cnt       6547
no_hongmun_exp_week_cnt    6547
dtype: int64

In [578]:
#둘다 있는 주만 있음
test_all_df[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))].count()

new_id                     4236
only_hongmun_week_cnt      4236
only_exp_week_cnt          4236
hongmun_exp_week_cnt       4236
no_hongmun_exp_week_cnt    4236
dtype: int64

## 2.2.2 각 cluster에 속하는 id를 변수로 저장

In [708]:

#전부 true
test_d1=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

#둘다 없는 경우만 없음
test_d2=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

#exp만있는 경우만 없음
test_d3=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

#홍문만있는 경우만 없음
test_d4=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

#둘다 있는 주만 없음
test_d5=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

## 두가지 패턴만 있음

#둘다 있거나 둘다 없거나
test_d6=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

#exp만 있거나 둘다없가나
test_d7=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

#exp만 있거나 둘다 있거나
test_d8=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

#홍문만 있거나 둘다 있거나
test_d9=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

#홍문만 있거나 둘다 없거나
test_d10=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

#홍문만 있거나 exp만 있거나
test_d11=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

## 다없거나 하나만 있음

# 네개패턴 다 없는 경우는 없음
test_d12=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

#다 없는 경우
test_d13=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)!=0))]

#exp만있는 경우
test_d14=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)!=0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

#홍문만있는 경우
test_d15=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)!=0)&(test_all_df.hongmun_exp_week_cnt.astype(int)==0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

#둘다 있는 주만 있음
test_d16=test_all_df.new_id[((test_all_df.only_hongmun_week_cnt.astype(int)==0)&(test_all_df.hongmun_exp_week_cnt.astype(int)!=0)&(test_all_df.only_exp_week_cnt.astype(int)==0)&(test_all_df.no_hongmun_exp_week_cnt.astype(int)==0))]

In [580]:
test_dd=[test_d1,test_d2,test_d3,test_d4,test_d5,test_d6,test_d7,test_d8,test_d9,test_d10,test_d11,test_d12,test_d13,test_d14,test_d15,test_d16]

In [581]:
#각 그룹이 어디에 속했는지 여부를 저장한 리스트
test_hongmun_exp_group=[]
for i in range(16):
    test_hongmun_exp_group.append([x in list(test_dd[i]) for x in test_data_c.new_id])

# 3. cluster들을 그루핑 해줌

In [693]:
# 새로 키우고 만랩에 도달한 그룹
train_a_group_index=((pd.Series(hongmun_exp_group[1]))|(pd.Series(hongmun_exp_group[4]))|(pd.Series(hongmun_exp_group[10]))|(pd.Series(hongmun_exp_group[3]))|(pd.Series(hongmun_exp_group[7])))

In [667]:
# 새로 키우고 만래벵 도달 못한 그룹
train_b_group_index=((pd.Series(hongmun_exp_group[6]))|pd.Series(hongmun_exp_group[13]))

In [694]:
# 만랩 아이디가 있고 부케를 키우는 그룹
train_c_group_index=((pd.Series(hongmun_exp_group[0]))|(pd.Series(hongmun_exp_group[2]))|(pd.Series(hongmun_exp_group[8]))|(pd.Series(hongmun_exp_group[15]))|(pd.Series(hongmun_exp_group[5])))

In [673]:
# 만랩 아이디가 있고 만랩아이디만 플레이하는 그룹
train_d_group_index=((pd.Series(hongmun_exp_group[9]))|(pd.Series(hongmun_exp_group[14])))

In [674]:
# exp,hongmun 둘다 쌓지 않은 그룹 즉 성장에 투자하지 않은 그룹
train_e_group_index=(pd.Series(hongmun_exp_group[12]))

# 3. Testset에서도 그루핑 해줌

In [713]:
test_a_group_index=((pd.Series(test_hongmun_exp_group[1]))|(pd.Series(test_hongmun_exp_group[4]))|(pd.Series(test_hongmun_exp_group[10]))|(pd.Series(test_hongmun_exp_group[3]))|(pd.Series(test_hongmun_exp_group[7])))

In [714]:
test_b_group_index=((pd.Series(test_hongmun_exp_group[6]))|pd.Series(test_hongmun_exp_group[13]))

In [715]:
test_c_group_index=((pd.Series(test_hongmun_exp_group[0]))|(pd.Series(test_hongmun_exp_group[2]))|(pd.Series(test_hongmun_exp_group[8]))|(pd.Series(test_hongmun_exp_group[15]))|(pd.Series(test_hongmun_exp_group[5])))

In [716]:
test_d_group_index=((pd.Series(test_hongmun_exp_group[9]))|(pd.Series(test_hongmun_exp_group[14])))

In [717]:
test_e_group_index=(pd.Series(test_hongmun_exp_group[12]))

# 4. 그룹별로 activity분할

In [695]:
#안에 있는지 확인하는 함수
#a group에 해당됨
train_a_group_act=train_act_c.apply((lambda x: x.new_id in list(train_data_c.new_id[train_a_group_index])),1)

In [670]:
#b group에 해당됨
train_b_group_act=train_act_c.apply((lambda x: x.new_id in list(train_data_c.new_id[train_b_group_index])),1)

In [696]:
#c group에 해당됨
train_c_group_act=train_act_c.apply((lambda x: x.new_id in list(train_data_c.new_id[train_c_group_index])),1)

In [676]:
#d group에 해당됨
train_d_group_act=train_act_c.apply((lambda x: x.new_id in list(train_data_c.new_id[train_d_group_index])),1)

In [677]:
#e group에 해당됨
train_e_group_act=train_act_c.apply((lambda x: x.new_id in list(train_data_c.new_id[train_e_group_index])),1)

In [702]:
train_group_act_df=pd.DataFrame([train_a_group_act,train_b_group_act,train_c_group_act,train_d_group_act,train_e_group_act]).T
train_group_act_df.columns=['group_a','group_b','group_c','group_d','group_e']
train_group_act_df.to_csv('train_group_act_df.csv',index=False)

In [706]:
train_group_user_df=pd.DataFrame([(train_a_group_index),(train_b_group_index),(train_c_group_index),(train_d_group_index),(train_e_group_index)]).T
train_group_user_df.columns=['group_a','group_b','group_c','group_d','group_e']
train_group_user_df.to_csv('train_group_user_df.csv',index=False)

In [662]:
'tr55' in list(train_data_c.new_id[agroup_index])

True

In [712]:
sums=0
for i in test_hongmun_exp_group:
    sums+=sum(i)
sums

40000

# 4. 그룹별로 activity 분할

In [719]:
#안에 있는지 확인하는 함수
#a group에 해당됨
test_a_group_act=test_act_c.apply((lambda x: x.new_id in list(test_data_c.new_id[test_a_group_index])),1)

In [720]:
#b group에 해당됨
test_b_group_act=test_act_c.apply((lambda x: x.new_id in list(test_data_c.new_id[test_b_group_index])),1)

In [721]:
#c group에 해당됨
test_c_group_act=test_act_c.apply((lambda x: x.new_id in list(test_data_c.new_id[test_c_group_index])),1)

In [722]:
#d group에 해당됨
test_d_group_act=test_act_c.apply((lambda x: x.new_id in list(test_data_c.new_id[test_d_group_index])),1)

In [723]:
#e group에 해당됨
test_e_group_act=test_act_c.apply((lambda x: x.new_id in list(test_data_c.new_id[test_e_group_index])),1)

In [724]:
test_group_act_df=pd.DataFrame([test_a_group_act,test_b_group_act,test_c_group_act,test_d_group_act,test_e_group_act]).T
test_group_act_df.columns=['group_a','group_b','group_c','group_d','group_e']
test_group_act_df.to_csv('test_group_act_df.csv',index=False)

In [725]:
test_group_user_df=pd.DataFrame([(test_a_group_index),(test_b_group_index),(test_c_group_index),(test_d_group_index),(test_e_group_index)]).T
test_group_user_df.columns=['group_a','group_b','group_c','group_d','group_e']
test_group_user_df.to_csv('test_group_user_df.csv',index=False)