In [1]:
import concurrent.futures
from functools import partial
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn.metrics import precision_score, recall_score
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import validation_curve
from pprint import pprint
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier # rf분류기

In [2]:
train_party=pd.read_csv('lite_data/train_party_lite.csv')

In [3]:
test_party=pd.read_csv('lite_data/test_party_lite.csv')

In [4]:
labels=pd.read_csv('lite_data//train_label_lite.csv')

In [5]:
labels.head()

  new_id     label
0    tr0     month
1    tr1      week
2    tr2  retained
3    tr3      week
4    tr4  retained

In [6]:
train_party.head()

,party_start_week,party_start_day,party_start_time,party_end_week,party_end_day,party_end_time,party_members_acc_id
0,1,1,09:14:58.558,1,1,09:41:30.200,"ot160647,ot47783,tr53166,ot200260,ot148400,tr9..."
1,3,3,11:05:05.176,3,3,13:07:42.515,"ot93483,ot74426,te4462,tr75992,tr89175,tr89342"
2,3,6,02:18:43.172,3,6,02:28:58.177,"te30091,ot168103,tr16718,te34235,tr63569,ot179821"
3,4,1,09:22:01.936,4,1,09:47:40.192,"ot233060,tr15609,tr85158,tr36984,tr66235,tr622..."
4,4,5,06:29:21.182,4,5,06:50:55.004,"ot120538,tr14982,ot22725,tr16126,ot24948,tr66815"

In [7]:
train_party.head()

,party_start_week,party_start_day,party_start_time,party_end_week,party_end_day,party_end_time,party_members_acc_id
0,1,1,09:14:58.558,1,1,09:41:30.200,"ot160647,ot47783,tr53166,ot200260,ot148400,tr9..."
1,3,3,11:05:05.176,3,3,13:07:42.515,"ot93483,ot74426,te4462,tr75992,tr89175,tr89342"
2,3,6,02:18:43.172,3,6,02:28:58.177,"te30091,ot168103,tr16718,te34235,tr63569,ot179821"
3,4,1,09:22:01.936,4,1,09:47:40.192,"ot233060,tr15609,tr85158,tr36984,tr66235,tr622..."
4,4,5,06:29:21.182,4,5,06:50:55.004,"ot120538,tr14982,ot22725,tr16126,ot24948,tr66815"

In [8]:
len(train_party.party_members_acc_id.iloc[0].split(','))

6

In [9]:
results=[]
def in_party(a,n):
    return a in train_party.party_members_acc_id.iloc[n].split(',')

def process(n, r=10000):
    result={}
    for i in labels.new_id:
        result[i]=[]
    if n+r >len(train_party):
        r=len(train_party)-n-1
    for a in labels.new_id:
        result[a].append([len(train_party.party_members_acc_id.iloc[x].split(',')) for x in range(n, n+r) if in_party(a,x)])
    return result

def main():
    results=[]
    r = 350000
    until=0
    with concurrent.futures.ProcessPoolExecutor(max_workers=20) as exe:
        for i in exe.map(partial(process, r=r), range(0, len(train_party), r)):
             results.append(i)
    return results

In [ ]:
abc=main()

In [24]:
abc[0]['tr53166']

[[6]]