In [1]:
import pandas as pd
import numpy as np
#pyplot import
import matplotlib.pyplot as plt

In [2]:
#timeseries
train_activity=pd.read_csv('lite_data/train_activity_lite.csv')
lab=pd.read_csv('lite_data/train_label_lite.csv')
test_activity=pd.read_csv('lite_data/test_activity_lite.csv')

In [3]:
# FE된 변수들을 쌓는 변수공간
X_train = train_activity.groupby(by='new_id',sort=False,as_index=False).sum().iloc[:,:1]
X_test = test_activity.groupby(by='new_id',sort=False,as_index=False).sum().iloc[:,:1]

In [4]:
#pivot해주는 함수
#주별 데이터 찍기, na값 채우지 않음, cname이 정리할 column 값, dat은 넣을 activity data
#모든 데이터를 concat하기 위해 cname을 바꿔줌
def tms_with_colnames(dat,cname='play_time',replace_text='tr',fill_nas=False):
    #activity data의 번호 앞에 tr 혹은 te가 붙어 없애준 열을 하나 만듦
    dat1=dat.copy()
    dat1['0']=dat1[dat1.columns[0]].str.replace(replace_text,"").tolist()
    #numeric으로 변환(하지 않으면 정렬이 어려움)
    dat1['0']=pd.to_numeric(dat1['0'])
    #minimum value를 안채운 값 반환
    #index를 기준으로 주차별 column의 값을 나타내는 pivot table 생성
    res=dat1.pivot(index='0',columns='wk',values=cname)
    #fillna가 false면 채우지 않고 리턴
    cols=[]
    for i in range(8):
        cols.append(cname+'_'+str(i))
    res.columns=cols
    if fill_nas==False:
        return res
    #True면 채워서 반환
    else:
        res=res.fillna(res.min().min())
        return res

In [5]:
my_col = train_activity.columns.tolist()[2:]

In [6]:
# train
for col in my_col:
    if col == 'cnt_dt':
        X_train = pd.concat((X_train,tms_with_colnames(train_activity,cname='cnt_dt',replace_text='tr',fill_nas = False).fillna(0)),axis = 1)
        X_test = pd.concat((X_test,tms_with_colnames(test_activity,cname='cnt_dt',replace_text='te',fill_nas = False).fillna(0)),axis = 1)
    else:
        X_train = pd.concat((X_train,tms_with_colnames(train_activity,cname = col,replace_text='tr',fill_nas = True)),axis = 1)
        X_test = pd.concat((X_test,tms_with_colnames(test_activity,cname = col,replace_text='te',fill_nas = True)),axis = 1)

In [7]:
X_train.to_csv('tms_concat_train.csv',index = False)
X_test.to_csv('tms_concat_test.csv',index = False)

In [6]:
temp1.to_csv('tms_concat.csv')

In [11]:
temp2.to_csv('tms_concat_test.csv')